<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">


    <section>
     <%= render 'users/user_photo'%>
    </section>


    <section>
     <%= render 'user_stats'%> 
    </section>


  </aside>

<div class="span8">
  <%= render 'all_users'%>

</div>

</div>